$bgColorBody: #fff5f1;
$colorRed: red;
$formBgColorWhite:white;
$colorWhite: white;
$colorGray: #979099;
$formSelectBorderColor: #ced4da;


body{
    background-color: $bgColorBody;
}

.main-logo {
  font-size: 24px;
  margin: 25px 0;
  margin: 20px auto;
}

/* ==========================================================================
    Form section
   ========================================================================== */
.main {
    margin-top: 90px;
}
.limited-seats {
    color: $colorRed;
    font-size: 18px;
}

.form-container{
    border-radius: 14px;
    width: 400px;
    background-color: $formBgColorWhite;
    padding: 23px;

    form {
        margin-top: 38px;
    }

    .select-label {
        font-size: 14px;
    }

    .disclaimer {
        font-size: 12px;
        margin: 10px 28px 0;
        color: $colorGray;
    }

    .form-control {
        height: 50px;
    }

    .submit-btn {
        display: block;
        width: 100%;
        height: 50px;
        color: $colorWhite;
        background: linear-gradient(to right, #6e00f1, #944dd6);
        border-radius: 5px;
        outline: none;
        border: none;
    }
    
    // Bootstrap overrides
    .form-floating>.form-control:focus{
        box-shadow: none;
        border-color: black;
    }
    
    .form-floating>.form-control:focus~label{
        opacity: 1;
        background-color: $formBgColorWhite;
        color: $colorGray;
        transform: scale(.85) translateY(-1.75rem) translateX(.15rem);
    }

    .form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
        padding-top: 1rem;
    }

    .floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
        opacity: 1;
        background-color: $formBgColorWhite;
        color: $colorGray;
        transform: scale(0.85) translateY(-1.75rem) translateX(.15rem);
    }

    .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
        opacity: 1;
        transform: scale(.85) translateY(-1.75rem) translateX(.15rem);
        color: $colorGray;
        background-color: $formBgColorWhite;
    }

    .form-floating>.form-control:not(:placeholder-shown)~label {
        background-color: $formBgColorWhite;
        color: $colorGray;
    }

    .form-floating>label {
        top: 14px;
        left: 10px;
        padding: 0 .45rem;
        color: $colorGray;
        height: unset;
    }

    .form-floating>label.error {
        color: $colorRed;
    }

    .form-control.is-invalid, .form-select.is-valid, .was-validated .form-control, .was-validated .form-select:valid {
        background-image: unset
    }

    .was-validated .form-select:valid {
        border-color: $formSelectBorderColor;
    }
}

/* Form custom selector
   ========================================================================== */

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
}
  
.custom-select select {
    display: none; /*hide original SELECT element: */
}
  
.select-selected {
      height: 50px;
      border-radius: 0.25rem;
}
  
//   /* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 22px;
    right: 20px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: rgb(56, 52, 52) transparent transparent transparent;
}

/* style the items (options), including the selected item: */
 
.select-items div,.select-selected {
    color: black;
    height: 50px;
    padding: 10px 16px;
    cursor: pointer;
}
.select-selected{
    color: #212529;
    border: 1px solid $formSelectBorderColor;
}
 
  /* Style items (options): */
.select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: $formBgColorWhite;
    color: black;
    border-radius: 0 0 10px 10px;
    border: 1px solid $formSelectBorderColor;

}
  /* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}
  
.select-items div:hover, .same-as-selected {
    background-color: #ffece4;
    border: 1px solid $formSelectBorderColor;
}

.intro-img{
    width: 400px;
}
.left-panel {
    .title {
        font-size: 33px;
        margin-bottom: 30px;
    }
}
.copyright-text{
    color: #302131;
}
@media screen and (max-width:992px){
    .main{
        margin-top: 25px;
        .title{
            font-size: 26px;
        }
    }
}
