$bgColorPink: #ffece4;

.main-logo {
    font-size: 24px;
    margin: 25px;
}

.bold {
    font-weight: bold;
}

.details-card {
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    max-width: 940px;
    .first-steps {
        font-size: 28px;
        font-weight: bolder;
        background-color: $bgColorPink;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .next-steps {
        padding-bottom: 20px;
        margin-top: 10px;
        font-size: 18px;
        .steps-img {
            img {
                max-width: 100%;
            }
        }
        .next-steps-content {
            padding-left: 50px;
            .title {
                margin-bottom: 10px;
                font-size: 24px;
            }
            .items {
                max-width: 93%;
                .item {
                    margin-bottom: 10px;
                    display: inline-flex;
                    .item-logo {
                        margin-right: 15px;
                        img {
                            height: 16px;
                        }
                    }
                }
            }
        }
    }
}

.title {
    font-weight: bold;
    font-size: 30px;
    margin: 25px 0;
}

.star-students {
    &--item {
        background: linear-gradient(to right, #6e00f1, #944dd6);
        border-radius: 8px;
        padding: 35px 50px;
        color: #f2e5fe;
        text-align: left;
        max-width: 660px;
        margin: auto;
    }
    &--header {
        img {
            max-width: 100%;
        }
    }
    &--name {
        margin-top: 5px;
        font-size: 21px;
        letter-spacing: 0.4px;
    }
    &--title {
        font-weight: bold;
        font-size: 20px;
        margin-top: 8px;
    }
    &--quote {
        font-size: 21px;
        width: 92%;
        letter-spacing: 0.5px;
        margin-top: 20px;
    }
}

.video-section {
    margin: 50px 0;
    .video-title {
        margin-bottom: 30px;
        font-size: 20px;
    }
    img {
        max-width: 100%;
    }
}

.newest-features {
    background-color: $bgColorPink;
    margin: 20px 0;
    .newest-content {
        .subtitle {
            font-size: 20px;
            font-weight: 500;
        }
        .newest-img {
            img {
                display: block;
                width: 100%;
            }
        }
        .mg-download-btn {
            background-color: #6f00f0;
            color: white;
            padding: 17px 45px;
            border: none;
            border-radius: 6px;
            margin: 1.2em 0;
            img {
                width: 20px;
            }
        }
    }
}

.more-features {
    .feature-item {
        padding: 14px 3px;
        border-radius: 8px;
        margin: 8px;
        border: 2px solid black;
        font-weight: 500;
        &:first-child {
            padding-right: 6px;
        }
        &:last-child {
            padding-left: 6px;
        }
    }
    .row {
        margin: auto;
    }
    .more-features-row-1 {
        max-width: 1055px;
    }
    .more-features-row-2 {
        max-width: 925px;
    }
    .more-features-row-3 {
        max-width: 868px;
    }
}
.social-links {
    margin: 20px;

    a {
        padding: 9px 20px;
        border-radius: 10px;
        border: none;
        color: white;
        margin: 8px;
        text-decoration: none;

        img {
            width: 15px;
            margin-right: 10px;
        }
    }
    .website-link {
        background-color: #f0a235;
    }
    .youtube-link {
        background-color: #f54131;
    }
}
.copyright-text{
    color: #302131;
}

@media screen and (max-width:992px){
    .title{
        font-size: 22px;
    }
    .newest-content{
        .subtitle{
            font-size: 1rem!important;
            margin: 0 4px;
        }
    }
    .more-features {
        .feature-item {
            font-size: 0.8rem;
            padding: 10px 3px;
        }
    }

    .details-card {
        .first-steps {
            font-size: 18px;
        }
    }

    .star-students{
        &--item{
            padding: 25px 30px;
        }
        &--name, &--title{
            font-size: 17px;
        }
        &--quote{
            font-size: 1rem;
        }
    }
    
}